{%- style -%}
      .testimonials-{{ section.id }} {
        background-color: {{ section.settings.color_background }};
        color: {{ section.settings.color_text }};
      }
    .img_slider video {
      object-fit: cover;
      border-radius: 34px;
  }
{%- endstyle -%}

<div
  class="img_slider testimonials-section testimonials-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} testimonials-section--with-divider{% endif %} text-{{ section.settings.align_text }}"
  data-section-id="{{ section.id }}"
  data-section-type="testimonials"
  data-aos
>
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header">
        <h2>{{ section.settings.title }}</h2>
      </div>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="slideshow-wrapper">
      <div data-flickity='{"wrapAround": true ,"prevNextButtons": false,"pageDots": false}'>
        {%- for block in section.blocks -%}
          <div
            class="testimonials-slide test25 testimonials-slide--{{ block.id }}"
            data-index="{{ forloop.index0 }}"
            data-aos="row-of-{{ section.blocks.size }}"
            {{ block.shopify_attributes }}
          >
            <blockquote class="testimonials-slider__text">
              <div class="video-wrapper">
                {%- if block.settings.video_url != blank -%}
                  {%- if block.settings.video_auto_play -%}
                    <video autoplay muted loop playsinline preload="metadata">
                      <source src="{{ block.settings.video_url }}" type="video/mp4">
                    </video>
                  {% else %}
                    <video controls loop playsinline preload="metadata">
                      <source src="{{ block.settings.video_url }}" type="video/mp4">
                    </video>
                  {% endif %}
                {%- endif -%}
              </div>
              {% if block.settings.author != blank %}
                <div class="content">
                  <h6>{{ block.settings.author }}</h6>
                </div>
              {% endif %}
            </blockquote>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>

<style>
      .PDP-ITVS-section .img_slider .testimonail-image {
          max-width: 100%!important;position:relative;
      }
      .PDP-ITVS-section   .testimonials-slide.is-selected .testimonials-slider__text{box-shadow:none!important;}
      .PDP-ITVS-section .img_slider cite {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex!important;
          align-items: center;
          justify-content: center;
        color:#fff;
      }
      .PDP-ITVS-section   .flickity-page-dots{display:none;}
      .PDP-ITVS-section   .video-wrapper{    padding-bottom: 100%;}
      .PDP-ITVS-section  .testimonials-slider__text{position:relative !important;padding:30px 20px;}
       .PDP-ITVS-section  .testimonials-slider__text .content h6 {
        margin: 0;
        font-size: 48px;
        color: #fff;
        line-height: 56px;
        letter-spacing: normal;
        font-family: 'basiccommercial_lt_lightRg';
    }
    .product_adventure-2_0-new .PDP-ITVS-section .section-header{margin-bottom:42px;}
    .product_adventure-2_0-new .testimonials-slide{padding:0;}
    .PDP-ITVS-section  .content {
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
      padding: 0 15px;
      width: 100%;
  }
   .PDP-ITVS-section  .testimonials-slide {
            width: 40%;
   }
 @media(max-width:1199px){
   .PDP-ITVS-section .testimonials-slider__text .content h6 {font-size: 34px;line-height: 40px;}
}
 @media(max-width:768px){       
   .PDP-ITVS-section  .testimonials-slide { width: 70%;}
   .PDP-ITVS-section .testimonials-slider__text .content h6{   font-size: 20px;   line-height: 23px;  }
   .PDP-ITVS-section .testimonials-slide.is-selected .testimonials-slider__text { transform: scale(1.1);}
   .PDP-ITVS-section .testimonials-slide .testimonials-slider__text {  transform: scale(.95);}
}   
@media(max-width:767px){
   .product_adventure-2_0-new .PDP-ITVS-section .section-header{margin-bottom:25px;} 
}
@media(max-width:568px){
  .PDP-ITVS-section  .testimonials-slide { width: 65%;} 
  .PDP-ITVS-section .img_slider .testimonail-image .image-wrap {    margin-bottom: 0;}
}
@media(max-width:480px){
  .product_adventure-2_0-new .PDP-ITVS-section h2{font-size:32px;line-height:40px;display:flex;flex-direction:column;}
}

</style>

{% schema %}
 {
   "name": "Image title Video slider",
   "class": "PDP-ITVS-section",
   "max_blocks": 9,
   "settings": [
     {
       "type": "text",
       "id": "title",
       "label": "Heading",
       "default": "Testimonials"
     },
     {
       "type": "select",
       "id": "align_text",
       "label": "Text alignment",
       "default": "center",
       "options": [
         {
           "value": "left",
           "label": "Left"
         },
         {
           "value": "center",
           "label": "Centered"
         },
         {
           "value": "right",
           "label": "Right"
         }
       ]
     },
     {
       "type": "checkbox",
       "id": "round_images",
       "label": "Circular images",
       "info": "Requires square images",
       "default": true
     },
     {
       "type": "color",
       "id": "color_text",
       "label": "Text",
       "default": "#1c1d1d"
     }
   ],
   "blocks": [
     {
       "type": "testimonial",
       "name": "Slide",
       "settings": [

{
       "type": "url",
       "id": "video_url",
       "label": "Video link"
	  },
{
       "type": "checkbox",
       "id": "video_auto_play",
       "label": "Video auto play",
       "default": false
     },
         {
           "type": "text",
           "id": "author",
           "label": "Title"
         }

       ]
     }
   ],
   "presets": [
     {
       "name": "Image Text Video slider",
       "blocks": [
         {
           "type": "testimonial"
         },
         {
           "type": "testimonial"
         },
         {
           "type": "testimonial"
         },
         {
           "type": "testimonial"
         },
         {
           "type": "testimonial"
         }
       ]
     }
   ]
 }
{% endschema %}
